

$baby-powder: #FAF9F6ff;
$davys-gray: #595855ff;
$black: #0A0908ff;
$dim-gray: #6E6C69ff;
$platinum: #EBEAE7ff;

$jet: #383633ff;
$black: #010301ff;
$delft-blue: #3C3F6Cff;
$dark-goldenrod: #C58F32ff;
$timberwolf: #E1D9D1ff;