@import "fonts";
@import "colors";

input {
  // background-color: $baby-powder;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 10px;
  outline: none;
  width: 100%;
  font-family: "Montserrat-ExtraLight";
  outline: none;
}
