table {
  width: 100%;
}
.head {
  display: flex;
  width: 100%;
  padding-top: 4rem;
  .tr_head {
    display: flex;
    width: 100%;
    th {
      cursor: pointer;
    }
  }
}
.tbody {
  display: flex;
}

.body_year {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.5rem;
  border-bottom: 1px solid #000000;
}

.body_name {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-family: "Montserrat-ExtraBold";
}
