@import "/src/sass/global.scss";

button {
  border: none;
  background: none;
  cursor: pointer;
}

.page_container {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    margin: 2rem;
    padding: unset;
    li {
      list-style: none;
    }
  }
}

.active {
  background-color: $davys-gray;
  border-radius: 50%;
  padding: 0.05rem;
}
