@import "/src/sass/global.scss";

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  align-items: unset;
  width: unset;
}

input {
  background-color: $baby-powder;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 10px;
  outline: none;
}
